{% extends 'base.html.twig' %}
{% block title %}Ajouter Article{% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_row(form.nom,{'attr':{'placeholder':'taper le nom d article'} }) }}
{{ form_row(form.prix,{'attr':{'placeholder':'taper le prix !'} }) }}
{{ form_row(form.image,{'attr':{'placeholder':'taper un url !'} }) }}
{{ form_widget(form) }}
 <button type="submit" class="btn btn-success">Créer</button>
{{ form_end(form) }}
<div class="container">
  <hr>
  <p class="text-center">  Copyright &copy; 2022 </p>
</div>
{% endblock %}