<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm mb-2">
<div class="container"
<a href="/" class="navbar-brand">
 <img src="https://bootstrapious.com/i/snippets/sn-nav-logo/logo.png" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold"><h style="color:#C0C0C0;">Ghali's Car</h></span>
 </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
 <span class="navbar-toggle-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="mobile-nav">
 <ul class="navbar-nav ml-auto">
 <li class="nav-item">
 <a href="/" class="nav-link">Home</a>
 </li>
 <li class="nav-item">
<a href="{{ path('new_article')}}" class="nav-link">Ajouter article</a>
 </li>
 <li class="nav-item">
<a href="{{ path('new_category')}}" class="nav-link">Ajouter catégorie</a>
 </li>
 <li class="nav-item">
 <a href="{{ path('article_par_cat')}}" class="nav-link">Recherche par catégorie</a>
 </li>
 <li class="nav-item">    
<a href="{{ path('contact_liste')}}" class="nav-link">Contacts</a>
 </li>
 <li class="nav-item">    
<a href="{{ path('securty_login')}}" class="nav-link">espace Admin </a>
 </li>
 </ul>
 </div>
</div>
</nav>